.title{
    padding-top: 3%;
    margin-left: 1%;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}

.review-container{
    display: grid;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-content: space-evenly;
}

.review{
    border: 2px solid #2C2C2C;
    border-radius: 15px;
    box-shadow: 2px 1px 2px rgba(0,0,0,0.06), 0 6px 16px rgba(0,0,0,0.10), 0 18px 36px rgba(0,0,0,0.08);
}

.review img{
    width: 95%;
    padding: 1rem;
}