.building{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left img{
    width: 80%;
    border-radius: 10px;
}

.building-details{
    display: flex;
    flex-direction: column;
    align-items:start;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem;
    gap: 0.5rem;
}

.right-reviews{
    width: 50%;
    
}

.review-button button{
    border-radius: 20px;
    width: 9rem;
    height: 3rem;
    color: white;
    background-color: #007A33;
}

.review-button button:hover{
    scale: 1.05;
    transition: 0.5s ease;
    background-color: #154734;
}



