.Navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: sticky;
    background: #2C2C2C;
    width: 100%;
}

.search{
    display: flex;
    align-items: center;
    height: 45%;
    width: 45%;
    gap: 0.35rem;
    /* border: 1px solid blue; */
}

.search input{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 9%;
    background-color: rgb(255, 255, 251, 0.8);
}


.search img{
    height: 95%;
    cursor: pointer;
}

.search-dropdown{
    position: absolute;
    top: 100%;
    left: 30%;
    right: 30%;
    max-height: 200px;
    overflow-Y: auto;
    background-color: rgb(255, 255, 251, 1);
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 15px;
}

.logo{
    max-height: 100%;
    width: auto;
    margin-left: 0.5rem;
}

.logo img{
    width: 100%;
}

.profile{
    padding-right: 1rem;
    width: 2rem;
}